html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    background-image: url(../images/greyzz.jpg);

}

#header {
    background-color: #ffffff;
    width: 30000px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 2px solid #cccccc;
}

.header.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #4aaaa5;
    position: relative;
    left: 175px;
    text-align: center;
    height: 100%;
    width: 350px;
    line-height: 2em;
}

.navigation {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #777777;
    background-color:#ffffff;
    position: absolute;
    top: 0px;
    left: 900px;
    height: 100%;
    width: auto;
    word-spacing: 1em;
    line-height: 3em;

}

#maincontent {
    width: 960px;
    border: 1px solid #dddddd;
    padding: 10px 10px 10px 10px;
    margin: 50px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-align: justify;
    background-color: #ffffff;
    border-color: #dddddd;
    position: relative;
    left: 125px;
    max-height: 800px;

}

.header.subtitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    color: #4aaaa5;
    position: relative;
    top: 4%;
    height: auto;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #dddddd;

}

p {
    font-size: 16px;
    word-spacing: .5em;
    font-weight: lighter;
    line-height: 1.5em;
}

img {
    height: 220px;
    width: 240px;
    float: left;
    margin-left: 0px;
    border: 10px;
    padding: 10px 20px 10px 10px;
}

#footer {
    background-color: #666666;
    text-align: center;
    padding: 20px 0px 0px 0px;
    border-top: 5px solid #4aaaa5;
    font-size: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 2rem;
}


.gallery {
    height: 200px;
    width: 220px;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 10px;
    position: relative;

}

span {
    background: #4aaaa5;
    position: absolute;
    z-index: 1;
    width: 220px;
    left: 0;
    top: 60%;
    height: 60px;
    line-height: 60px;
    

}

.input-box {
    position: relative;
    left: 10px;
}

#Hangman {
    background-image: url(../images/Hangman.jpg);
 
}

#RPG-Game {
    background-image: url(../images/RPG-Game.jpg);
    position: relative;
    left: 260px;
    top: -216px;

}
#Trivia-Game {
    background-image: url(../images/Trivia-Game.jpg);
    position: relative;
    top: -198px;
    
}
#Rutgers-Info-Widget {
    background-image: url(../images/Rutgers-Info-Widget.jpg);
    position: relative;
    top: -413px;
    left: 260px;

}

#Rock-Paper-Scissors {
    background-image: url(../images/Rock-Paper-Scissors.jpg);
    position: relative;
    top: -396px;

}
